<app-example-block title="Alert" [visible]="false">

  <app-example [block]="true">
    <div mb="1.5" row>
      <fab-alert col="6" text="Hey! Just a reminder that this is an alert!" title="Alert Title"></fab-alert>
      <fab-alert col="6" color="danger" text="Hey! Just a reminder that this is an alert!"></fab-alert>
    </div>

    <div row>
      <fab-alert col="6" marker="primary" text="Hey! Just a reminder that this is an alert!" title="Alert Title">
      </fab-alert>
      <fab-alert al-v="center" col="6" flex>
        <fab-text grow="1" medium size="sm">Hey! This is a custom content for alert!</fab-text>
        <fab-button color="primary" [compact]="true" size="xs">Close</fab-button>
      </fab-alert>
    </div>
  </app-example>

</app-example-block>

<app-example-block title="Avatar" [visible]="false">
  <app-example title="Color">
    <fab-avatar></fab-avatar>
    <fab-avatar color="primary"></fab-avatar>
    <fab-avatar color="secondary"></fab-avatar>
    <fab-avatar color="success"></fab-avatar>
    <fab-avatar color="danger"></fab-avatar>
    <fab-avatar color="warning"></fab-avatar>
    <fab-avatar color="hot"></fab-avatar>
    <fab-avatar color="cold"></fab-avatar>
    <fab-avatar color="dark"></fab-avatar>
    <fab-avatar color="light"></fab-avatar>
    <fab-avatar color="aux"></fab-avatar>
  </app-example>

  <app-example title="Rounded">
    <fab-avatar color="primary"></fab-avatar>
    <fab-avatar color="primary" [rounded]="true"></fab-avatar>
  </app-example>

  <app-example title="Show Initials">
    <fab-avatar show-initials="A B"></fab-avatar>
    <fab-avatar color="primary" show-initials="C D"></fab-avatar>
    <fab-avatar color="secondary" show-initials="E F"></fab-avatar>
    <fab-avatar color="success" show-initials="G H"></fab-avatar>
    <fab-avatar color="danger" show-initials="I J"></fab-avatar>
    <fab-avatar color="warning" show-initials="K L"></fab-avatar>
    <fab-avatar color="hot" show-initials="M N"></fab-avatar>
    <fab-avatar color="cold" show-initials="O P"></fab-avatar>
    <fab-avatar color="dark" show-initials="Q R"></fab-avatar>
    <fab-avatar color="light" show-initials="S T"></fab-avatar>
    <fab-avatar color="aux" show-initials="U V"></fab-avatar>
  </app-example>

  <app-example title="Show Initials (rounded)">
    <fab-avatar show-initials="A B"></fab-avatar>
    <fab-avatar color="primary" [rounded]="true" show-initials="C D"></fab-avatar>
    <fab-avatar color="secondary" [rounded]="true" show-initials="E F"></fab-avatar>
    <fab-avatar color="success" [rounded]="true" show-initials="G H"></fab-avatar>
    <fab-avatar color="danger" [rounded]="true" show-initials="I J"></fab-avatar>
    <fab-avatar color="warning" [rounded]="true" show-initials="K L"></fab-avatar>
    <fab-avatar color="hot" [rounded]="true" show-initials="M N"></fab-avatar>
    <fab-avatar color="cold" [rounded]="true" show-initials="O P"></fab-avatar>
    <fab-avatar color="dark" [rounded]="true" show-initials="Q R"></fab-avatar>
    <fab-avatar color="light" [rounded]="true" show-initials="S T"></fab-avatar>
    <fab-avatar color="aux" [rounded]="true" show-initials="U V"></fab-avatar>
  </app-example>

  <app-example title="Size">
    <fab-avatar show-initials="XL" size="xl"></fab-avatar>
    <fab-avatar show-initials="LG" size="lg"></fab-avatar>
    <fab-avatar show-initials="MD" size="md"></fab-avatar>
    <fab-avatar show-initials="SM" size="sm"></fab-avatar>
    <fab-avatar show-initials="XS" size="xs"></fab-avatar>
  </app-example>
</app-example-block>

<app-example-block title="Badge" [visible]="false">
  <app-example title="Color">
    <fab-badge><i class="fas fa-check"></i></fab-badge>
  </app-example>
</app-example-block>

<app-example-block title="Button" [visible]="false">

  <app-example title="Border (clear)">
    <fab-button [border]="true" [clear]="true">Default</fab-button>
    <fab-button color="primary" [border]="true" [clear]="true">Primary</fab-button>
    <fab-button color="secondary" [border]="true" [clear]="true">Secondary</fab-button>
    <fab-button color="success" [border]="true" [clear]="true">Success</fab-button>
    <fab-button color="danger" [border]="true" [clear]="true">Danger</fab-button>
    <fab-button color="warning" [border]="true" [clear]="true">Warning</fab-button>
    <fab-button color="hot" [border]="true" [clear]="true">Hot</fab-button>
    <fab-button color="cold" [border]="true" [clear]="true">Cold</fab-button>
    <fab-button color="dark" [border]="true" [clear]="true">Dark</fab-button>
    <fab-button color="light" [border]="true" [clear]="true">Light</fab-button>
    <fab-button color="aux" [border]="true" [clear]="true">Aux</fab-button>
  </app-example>

  <app-example title="Border (color)">
    <fab-button [border]="true">Default</fab-button>
    <fab-button color="primary" [border]="true">Primary</fab-button>
    <fab-button color="secondary" [border]="true">Secondary</fab-button>
    <fab-button color="success" [border]="true">Success</fab-button>
    <fab-button color="danger" [border]="true">Danger</fab-button>
    <fab-button color="warning" [border]="true">Warning</fab-button>
    <fab-button color="hot" [border]="true">Hot</fab-button>
    <fab-button color="cold" [border]="true">Cold</fab-button>
    <fab-button color="dark" [border]="true">Dark</fab-button>
    <fab-button color="light" [border]="true">Light</fab-button>
    <fab-button color="aux" [border]="true">Aux</fab-button>
  </app-example>

  <app-example title="Border (faded)">
    <fab-button [border]="true" [faded]="true">Default</fab-button>
    <fab-button color="primary" [border]="true" [faded]="true">Primary</fab-button>
    <fab-button color="secondary" [border]="true" [faded]="true">Secondary</fab-button>
    <fab-button color="success" [border]="true" [faded]="true">Success</fab-button>
    <fab-button color="danger" [border]="true" [faded]="true">Danger</fab-button>
    <fab-button color="warning" [border]="true" [faded]="true">Warning</fab-button>
    <fab-button color="hot" [border]="true" [faded]="true">Hot</fab-button>
    <fab-button color="cold" [border]="true" [faded]="true">Cold</fab-button>
    <fab-button color="dark" [border]="true" [faded]="true">Dark</fab-button>
    <fab-button color="light" [border]="true" [faded]="true">Light</fab-button>
    <fab-button color="aux" [border]="true" [faded]="true">Aux</fab-button>
  </app-example>

  <app-example title="Clear">
    <fab-button [clear]="true">Default</fab-button>
    <fab-button color="primary" [clear]="true">Primary</fab-button>
    <fab-button color="secondary" [clear]="true">Secondary</fab-button>
    <fab-button color="success" [clear]="true">Success</fab-button>
    <fab-button color="danger" [clear]="true">Danger</fab-button>
    <fab-button color="warning" [clear]="true">Warning</fab-button>
    <fab-button color="hot" [clear]="true">Hot</fab-button>
    <fab-button color="cold" [clear]="true">Cold</fab-button>
    <fab-button color="dark" [clear]="true">Dark</fab-button>
    <fab-button color="light" [clear]="true">Light</fab-button>
    <fab-button color="aux" [clear]="true">Aux</fab-button>
  </app-example>

  <app-example title="Color">
    <fab-button>Default</fab-button>
    <fab-button color="primary">Primary</fab-button>
    <fab-button color="secondary">Secondary</fab-button>
    <fab-button color="success">Success</fab-button>
    <fab-button color="danger">Danger</fab-button>
    <fab-button color="warning">Warning</fab-button>
    <fab-button color="hot">Hot</fab-button>
    <fab-button color="cold">Cold</fab-button>
    <fab-button color="dark">Dark</fab-button>
    <fab-button color="light">Light</fab-button>
    <fab-button color="aux">Aux</fab-button>
  </app-example>

  <app-example title="Compact vs wide">
    <fab-button color="primary">Normal</fab-button>
    <fab-button color="primary" [compact]="true">Compact</fab-button>
    <fab-button color="primary" [wide]="true">Wide</fab-button>
  </app-example>

  <app-example title="Disabled">
    <fab-button [disabled]="true">Default</fab-button>
    <fab-button color="primary" [disabled]="true">Primary</fab-button>
    <fab-button color="secondary" [disabled]="true">Secondary</fab-button>
    <fab-button color="success" [disabled]="true">Success</fab-button>
    <fab-button color="danger" [disabled]="true">Danger</fab-button>
    <fab-button color="warning" [disabled]="true">Warning</fab-button>
    <fab-button color="hot" [disabled]="true">Hot</fab-button>
    <fab-button color="cold" [disabled]="true">Cold</fab-button>
    <fab-button color="dark" [disabled]="true">Dark</fab-button>
    <fab-button color="light" [disabled]="true">Light</fab-button>
    <fab-button color="aux" [disabled]="true">Aux</fab-button>
  </app-example>

  <app-example title="Expand">
    <fab-button color="primary">Normal</fab-button>
    <fab-button color="primary" [expand]="true">Expand</fab-button>
  </app-example>

  <app-example title="Faded">
    <fab-button [faded]="true">Default</fab-button>
    <fab-button color="primary" [faded]="true">Primary</fab-button>
    <fab-button color="secondary" [faded]="true">Secondary</fab-button>
    <fab-button color="success" [faded]="true">Success</fab-button>
    <fab-button color="danger" [faded]="true">Danger</fab-button>
    <fab-button color="warning" [faded]="true">Warning</fab-button>
    <fab-button color="hot" [faded]="true">Hot</fab-button>
    <fab-button color="cold" [faded]="true">Cold</fab-button>
    <fab-button color="dark" [faded]="true">Dark</fab-button>
    <fab-button color="light" [faded]="true">Light</fab-button>
    <fab-button color="aux" [faded]="true">Aux</fab-button>
  </app-example>

  <app-example title="Gradient">
    <fab-button [gradient]="true">Default</fab-button>
    <fab-button color="primary" [gradient]="true">Primary</fab-button>
    <fab-button color="secondary" [gradient]="true">Secondary</fab-button>
    <fab-button color="success" [gradient]="true">Success</fab-button>
    <fab-button color="danger" [gradient]="true">Danger</fab-button>
    <fab-button color="warning" [gradient]="true">Warning</fab-button>
    <fab-button color="hot" [gradient]="true">Hot</fab-button>
    <fab-button color="cold" [gradient]="true">Cold</fab-button>
    <fab-button color="dark" [gradient]="true">Dark</fab-button>
    <fab-button color="light" [gradient]="true">Light</fab-button>
    <fab-button color="aux" [gradient]="true">Aux</fab-button>
  </app-example>

  <app-example title="Invert">
    <fab-button [invert]="true">Default</fab-button>
    <fab-button color="primary" [invert]="true">Primary</fab-button>
    <fab-button color="secondary" [invert]="true">Secondary</fab-button>
    <fab-button color="success" [invert]="true">Success</fab-button>
    <fab-button color="danger" [invert]="true">Danger</fab-button>
    <fab-button color="warning" [invert]="true">Warning</fab-button>
    <fab-button color="hot" [invert]="true">Hot</fab-button>
    <fab-button color="cold" [invert]="true">Cold</fab-button>
    <fab-button color="dark" [invert]="true">Dark</fab-button>
    <fab-button color="light" [invert]="true">Light</fab-button>
    <fab-button color="aux" [invert]="true">Aux</fab-button>
  </app-example>

  <app-example title="Outline">
    <fab-button [outline]="true">Default</fab-button>
    <fab-button color="primary" [outline]="true">Primary</fab-button>
    <fab-button color="secondary" [outline]="true">Secondary</fab-button>
    <fab-button color="success" [outline]="true">Success</fab-button>
    <fab-button color="danger" [outline]="true">Danger</fab-button>
    <fab-button color="warning" [outline]="true">Warning</fab-button>
    <fab-button color="hot" [outline]="true">Hot</fab-button>
    <fab-button color="cold" [outline]="true">Cold</fab-button>
    <fab-button color="dark" [outline]="true">Dark</fab-button>
    <fab-button color="light" [outline]="true">Light</fab-button>
    <fab-button color="aux" [outline]="true">Aux</fab-button>
  </app-example>

  <app-example title="Rounded">
    <fab-button color="primary">Default</fab-button>
    <fab-button color="primary" [rounded]="true">Rounded</fab-button>
  </app-example>

  <app-example title="Size">
    <fab-button color="primary" size="xl">Button XLarge</fab-button>
    <fab-button color="primary" size="lg">Button Large</fab-button>
    <fab-button color="primary">Button</fab-button>
    <fab-button color="primary" size="sm">Button Small</fab-button>
    <fab-button color="primary" size="xs">Button XSmall</fab-button>
  </app-example>

</app-example-block>

<app-example-block title="Button Group" [visible]="false">
  <app-example title="Glued (clear)">
    <fab-button-group [glued]="true">
      <fab-button [clear]="true">Button 1</fab-button>
      <fab-button color="primary" [clear]="true">Button 1</fab-button>
      <fab-button color="secondary" [clear]="true">Button 1</fab-button>
      <fab-button color="hot" [clear]="true">Button 1</fab-button>
      <fab-button color="cold" [clear]="true">Button 1</fab-button>
      <fab-button color="dark" [clear]="true">Button 2</fab-button>
      <fab-button color="aux" [clear]="true">Button 2</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Glued (color)">
    <fab-button-group [glued]="true">
      <fab-button>Button 1</fab-button>
      <fab-button color="primary">Button 1</fab-button>
      <fab-button color="secondary">Button 1</fab-button>
      <fab-button color="hot">Button 1</fab-button>
      <fab-button color="cold">Button 1</fab-button>
      <fab-button color="dark">Button 2</fab-button>
      <fab-button color="aux">Button 2</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Glued (faded)">
    <fab-button-group [glued]="true">
      <fab-button [faded]="true">Button 1</fab-button>
      <fab-button color="primary" [faded]="true">Button 1</fab-button>
      <fab-button color="secondary" [faded]="true">Button 1</fab-button>
      <fab-button color="hot" [faded]="true">Button 1</fab-button>
      <fab-button color="cold" [faded]="true">Button 1</fab-button>
      <fab-button color="dark" [faded]="true">Button 2</fab-button>
      <fab-button color="aux" [faded]="true">Button 2</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Glued (clear)">
    <fab-button-group [glued]="true">
      <fab-button [gradient]="true">Button 1</fab-button>
      <fab-button color="primary" [gradient]="true">Button 1</fab-button>
      <fab-button color="secondary" [gradient]="true">Button 1</fab-button>
      <fab-button color="hot" [gradient]="true">Button 1</fab-button>
      <fab-button color="cold" [gradient]="true">Button 1</fab-button>
      <fab-button color="dark" [gradient]="true">Button 2</fab-button>
      <fab-button color="aux" [gradient]="true">Button 2</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Glued (invert)">
    <fab-button-group [glued]="true">
      <fab-button [invert]="true">Button 1</fab-button>
      <fab-button color="primary" [invert]="true">Button 1</fab-button>
      <fab-button color="secondary" [invert]="true">Button 1</fab-button>
      <fab-button color="hot" [invert]="true">Button 1</fab-button>
      <fab-button color="cold" [invert]="true">Button 1</fab-button>
      <fab-button color="dark" [invert]="true">Button 2</fab-button>
      <fab-button color="aux" [invert]="true">Button 2</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Glued (outline)">
    <fab-button-group [glued]="true">
      <fab-button [outline]="true">Button 1</fab-button>
      <fab-button color="primary" [outline]="true">Button 1</fab-button>
      <fab-button color="secondary" [outline]="true">Button 1</fab-button>
      <fab-button color="hot" [outline]="true">Button 1</fab-button>
      <fab-button color="cold" [outline]="true">Button 1</fab-button>
      <fab-button color="dark" [outline]="true">Button 2</fab-button>
      <fab-button color="aux" [outline]="true">Button 2</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Spacing (default)">
    <fab-button-group>
      <fab-button color="primary">Button 1</fab-button>
      <fab-button color="primary">Button 2</fab-button>
      <fab-button color="primary">Button 3</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Spacing (custom)">
    <fab-button-group spacing="2rem">
      <fab-button color="primary">Button 1</fab-button>
      <fab-button color="primary">Button 2</fab-button>
      <fab-button color="primary">Button 3</fab-button>
    </fab-button-group>
  </app-example>
</app-example-block>

<app-example-block title="Card" [visible]="false">

  <app-example [block]="true" title="Examples">
    <fab-row>
      <fab-column col="3">
        <fab-card>
          <fab-card-image height="200" src="http://placehold.it/400x150"></fab-card-image>
          <fab-card-body padding>
            <fab-text block bold size="lg">Card Title</fab-text>
            <fab-text aux block mb="1" size="sm">Card Subtitle</fab-text>
            <fab-text block mb=".5">
              This is some text inside this card.<br>
              You can add whatever content in
              here.
            </fab-text>
          </fab-card-body>
          <fab-card-footer padding>
            <fab-button color="primary" [expand]="true">Button</fab-button>
          </fab-card-footer>
        </fab-card>
      </fab-column>

      <fab-column col="9">
        <fab-card>
          <fab-card-image height="200" src="http://placehold.it/1200x300"></fab-card-image>
          <fab-card-body>
            <div p="1">
              <fab-text block bold size="xxl">Card Title</fab-text>
              <fab-text aux block>Card Subtitle</fab-text>
            </div>

            <fab-list [striped]="true">
              <fab-list-item>
                <fab-row>
                  <fab-column width="15rem">
                    <fab-text aux medium>Full name</fab-text>
                  </fab-column>

                  <fab-column grow="1">
                    <fab-text>John Doe</fab-text>
                  </fab-column>
                </fab-row>
              </fab-list-item>

              <fab-list-item>
                <fab-row>
                  <fab-column width="15rem">
                    <fab-text aux medium>Email address</fab-text>
                  </fab-column>

                  <fab-column grow="1">
                    <fab-text>johndoe@gmail.com</fab-text>
                  </fab-column>
                </fab-row>
              </fab-list-item>

              <fab-list-item>
                <fab-row>
                  <fab-column width="15rem">
                    <fab-text aux medium>Attachments</fab-text>
                  </fab-column>

                  <fab-column grow="1">
                    <fab-input placeholder="Add attachments"></fab-input>
                  </fab-column>
                </fab-row>
              </fab-list-item>
            </fab-list>
          </fab-card-body>

          <fab-card-footer padding>
            <fab-button-group align-h="right" flex>
              <fab-button color="primary" [wide]="true">Confirm</fab-button>
              <fab-button color="light" [wide]="true">Cancel</fab-button>
            </fab-button-group>
          </fab-card-footer>
        </fab-card>
      </fab-column>

    </fab-row>

  </app-example>

  <app-example [block]="true" title="Color">

    <fab-row>

      <fab-column col="3">
        <fab-card>
          <fab-card-image height="200" src="http://placehold.it/400x150"></fab-card-image>
          <fab-card-body p="1">
            <fab-text bold size="lg">Card Title</fab-text>
            <fab-text aux mb="1">Card subtitle</fab-text>
            <fab-button color="primary" [expand]="true">Button</fab-button>
          </fab-card-body>
        </fab-card>
      </fab-column>

      <fab-column col="3">
        <fab-card color="primary">
          <fab-card-image height="200" src="http://placehold.it/400x150"></fab-card-image>
          <fab-card-body p="1">
            <fab-text bold color="inherit" size="lg">Card Title</fab-text>
            <fab-text aux color="inherit" mb="1">Card subtitle</fab-text>
            <fab-button color="primary" [expand]="true" [invert]="true">Button</fab-button>
          </fab-card-body>
        </fab-card>
      </fab-column>

      <fab-column col="3">
        <fab-card color="secondary">
          <fab-card-image height="200" src="http://placehold.it/400x150"></fab-card-image>
          <fab-card-body p="1">
            <fab-text bold color="inherit" size="lg">Card Title</fab-text>
            <fab-text aux color="inherit" mb="1">Card subtitle</fab-text>
            <fab-button color="secondary" [expand]="true" [invert]="true">Button</fab-button>
          </fab-card-body>
        </fab-card>
      </fab-column>

      <fab-column col="3">
        <fab-card color="cold">
          <fab-card-image height="200" src="http://placehold.it/400x150"></fab-card-image>
          <fab-card-body p="1">
            <fab-text bold color="inherit" size="lg">Card Title</fab-text>
            <fab-text aux color="inherit" mb="1">Card subtitle</fab-text>
            <fab-button color="cold" [expand]="true" [invert]="true">Button</fab-button>
          </fab-card-body>
        </fab-card>
      </fab-column>

    </fab-row>

  </app-example>

  <app-example [block]="true" title="Glow">

    <fab-row>

      <fab-col col="3">
        <fab-card>
          <fab-card-image cover src="http://placehold.it/400x100"></fab-card-image>
          <fab-card-section padding>
            <fab-text bold size="lg">Card Title</fab-text>
            <fab-text aux>Card subtitle</fab-text>
          </fab-card-section>
          <fab-card-section color="light" padding>
            <fab-button color="primary" [expand]="true">Button</fab-button>
          </fab-card-section>
        </fab-card>
      </fab-col>

      <fab-col col="3">
        <fab-card [glow]="false">
          <fab-card-body padding>
            <fab-text bold size="lg">
              <fab-text-part>Card Title</fab-text-part>

              <fab-text-part>
                <fab-badge color="primary">New</fab-badge>
              </fab-text-part>

            </fab-text>
            <fab-text aux mb="1">Card subtitle</fab-text>
            <fab-button color="primary" [expand]="true">Button</fab-button>
          </fab-card-body>
        </fab-card>
      </fab-col>

    </fab-row>

  </app-example>

</app-example-block>

<app-example-block title="Dropdown" [visible]="false">

  <app-example title="Color">
    <fab-dropdown>
      <fab-button dropdown-toggle>Dropdown toggle</fab-button>
      <div dropdown-menu>Dropdown menu</div>
    </fab-dropdown>
  </app-example>

  <app-example title="Items">
    <fab-dropdown [items]="dropdownItems">
      <fab-button dropdown-toggle>Dropdown toggle</fab-button>
    </fab-dropdown>
  </app-example>

</app-example-block>

<app-example-block title="Input" [visible]="false">

  <app-example title="Color">
    <fab-input placeholder="Default"></fab-input>
    <fab-input placeholder="Primary" color="primary"></fab-input>
    <fab-input placeholder="Secondary" color="secondary"></fab-input>
    <fab-input placeholder="Success" color="success"></fab-input>
    <fab-input placeholder="Danger" color="danger"></fab-input>
    <fab-input placeholder="Warning" color="warning"></fab-input>
    <fab-input placeholder="Hot" color="hot"></fab-input>
    <fab-input placeholder="Cold" color="cold"></fab-input>
    <fab-input placeholder="Dark" color="dark"></fab-input>
    <fab-input placeholder="Light" color="light"></fab-input>
    <fab-input placeholder="Aux" color="aux"></fab-input>
  </app-example>

  <app-example title="Disabled">
    <fab-input placeholder="Default" [disabled]="true"></fab-input>
    <fab-input placeholder="Primary" color="primary" [disabled]="true"></fab-input>
    <fab-input placeholder="Secondary" color="secondary" [disabled]="true"></fab-input>
    <fab-input placeholder="Success" color="success" [disabled]="true"></fab-input>
    <fab-input placeholder="Danger" color="danger" [disabled]="true"></fab-input>
    <fab-input placeholder="Warning" color="warning" [disabled]="true"></fab-input>
    <fab-input placeholder="Hot" color="hot" [disabled]="true"></fab-input>
    <fab-input placeholder="Cold" color="cold" [disabled]="true"></fab-input>
    <fab-input placeholder="Dark" color="dark" [disabled]="true"></fab-input>
    <fab-input placeholder="Light" color="light" [disabled]="true"></fab-input>
    <fab-input placeholder="Aux" color="aux" [disabled]="true"></fab-input>
  </app-example>

  <app-example title="Expand">
    <fab-input placeholder="Normal"></fab-input>
    <fab-input placeholder="Expand" [expand]="true"></fab-input>
  </app-example>

  <app-example title="Has">
    <fab-input placeholder="Has: Error" has="error"></fab-input>
    <fab-input placeholder="Has: Success" has="success"></fab-input>
    <fab-input placeholder="Has: Warning" has="warning"></fab-input>
  </app-example>

  <app-example title="Has (message)">
    <fab-input placeholder="Has: Error" has="error" message="This field has: error"></fab-input>
    <fab-input placeholder="Has: Success" has="success" message="This field has: success"></fab-input>
    <fab-input placeholder="Has: Warning" has="warning" message="This field has: warning"></fab-input>
  </app-example>

  <app-example title="Message">
    <fab-input placeholder="Message default" message="This is a message"></fab-input>
    <fab-input placeholder="Message primary" message-color="primary" message="This is a message"></fab-input>
    <fab-input placeholder="Message secondary" message-color="secondary" message="This is a message"></fab-input>
    <fab-input placeholder="Message success" message-color="success" message="This is a message"></fab-input>
    <fab-input placeholder="Message danger" message-color="danger" message="This is a message"></fab-input>
    <fab-input placeholder="Message warning" message-color="warning" message="This is a message"></fab-input>
    <fab-input placeholder="Message hot" message-color="hot" message="This is a message"></fab-input>
    <fab-input placeholder="Message cold" message-color="cold" message="This is a message"></fab-input>
    <fab-input placeholder="Message dark" message-color="dark" message="This is a message"></fab-input>
    <fab-input placeholder="Message light" message-color="light" message="This is a message"></fab-input>
    <fab-input placeholder="Message aux" message-color="aux" message="This is a message"></fab-input>
  </app-example>

  <app-example title="Size">
    <fab-input placeholder="XXL" size="xxl"></fab-input>
    <fab-input placeholder="XL" size="xl"></fab-input>
    <fab-input placeholder="LG" size="lg"></fab-input>
    <fab-input placeholder="MD"></fab-input>
    <fab-input placeholder="SM" size="sm"></fab-input>
    <fab-input placeholder="XS" size="xs"></fab-input>
  </app-example>

</app-example-block>

<app-example-block title="Input group" [visible]="false">
  <app-example title="Examples">
    <fab-input-group>
      <fab-input message="Message example" placeholder="Type something"></fab-input>
      <fab-button color="primary" [compact]="true">Button</fab-button>
    </fab-input-group>

    <fab-input-group [glued]="true">
      <fab-button [border]="true" color="light" [compact]="true">Button</fab-button>
      <fab-input placeholder="Type something"></fab-input>
      <fab-button [border]="true" color="aux" [compact]="true">Button</fab-button>
    </fab-input-group>
  </app-example>

  <app-example title="Flow (horizontal)">
    <fab-input-group flow="horizontal">
      <fab-input placeholder="Type something"></fab-input>
      <fab-button color="primary" [compact]="true">Button</fab-button>
    </fab-input-group>
  </app-example>

  <app-example title="Flow (vertical)">
    <fab-input-group flow="vertical">
      <fab-input placeholder="Type something"></fab-input>
      <fab-button color="primary">Button</fab-button>
    </fab-input-group>

    <fab-input-group flow="vertical" [glued]="true">
      <fab-input placeholder="Type something"></fab-input>
      <fab-button color="primary">Button</fab-button>
    </fab-input-group>
  </app-example>

  <app-example title="Glued">
    <fab-input-group [glued]="true">
      <fab-input placeholder="Type something"></fab-input>
      <fab-button color="primary" [compact]="true">Button</fab-button>
    </fab-input-group>

    <fab-input-group [glued]="true">
      <fab-button [border]="true" color="light" [compact]="true">Button</fab-button>
      <fab-input placeholder="Input Group (glued)"></fab-input>
      <fab-button [border]="true" color="aux" [compact]="true">Button</fab-button>
    </fab-input-group>
  </app-example>

  <app-example title="Spacing (default)">
    <fab-input-group>
      <fab-input placeholder="Type something"></fab-input>
      <fab-button color="primary" [compact]="true">Button</fab-button>
    </fab-input-group>

    <fab-input-group>
      <fab-button [border]="true" color="light" [compact]="true">Button</fab-button>
      <fab-input placeholder="Input Group (glued)"></fab-input>
      <fab-button [border]="true" color="aux" [compact]="true">Button</fab-button>
    </fab-input-group>
  </app-example>

  <app-example title="Spacing (custom)">
    <fab-input-group spacing="1rem">
      <fab-input placeholder="Type something"></fab-input>
      <fab-button color="primary" [compact]="true">Button</fab-button>
    </fab-input-group>

    <fab-input-group spacing="1rem">
      <fab-button [border]="true" color="light" [compact]="true">Button</fab-button>
      <fab-input placeholder="Input Group (glued)"></fab-input>
      <fab-button [border]="true" color="aux" [compact]="true">Button</fab-button>
    </fab-input-group>
  </app-example>
</app-example-block>

<app-example-block title="List" [visible]="false">
  <div mb="1.5" row>
    <fab-card col="8" px="1">
      <fab-list>
        <fab-list-item>
          <div row>
            <div col="6">
              <fab-text semibold size="lg">
                <fab-text-part>Full-stack Engineer</fab-text-part>
                <fab-text-part>
                  <fab-badge color="#E3FFD9">Full-time</fab-badge>
                </fab-text-part>
              </fab-text>
              <fab-text aux>Google</fab-text>
            </div>

            <div col="6">
              <fab-tag-group align-h="right">
                <fab-tag>
                  <a href="https://angular.io" target="_blank">
                    Angular
                  </a>
                </fab-tag>
                <fab-tag>
                  <button>
                    Engineering
                  </button>
                </fab-tag>
                <fab-tag>Node</fab-tag>
              </fab-tag-group>

              <fab-text al-h="right" aux flex mt=".5" size="md">2 hours ago</fab-text>
            </div>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div row>
            <div col="6">
              <fab-text semibold size="lg">
                <fab-text-part>Frontend Developer</fab-text-part>
                <fab-text-part>
                  <fab-badge color="#FFECD9">Part-time</fab-badge>
                </fab-text-part>
                <fab-text-part>
                  <fab-badge color="#F8F8F8">Live</fab-badge>
                </fab-text-part>
              </fab-text>
              <fab-text aux>Amazon</fab-text>
            </div>

            <div col="6">
              <fab-tag-group align-h="right">
                <fab-tag color="hot">
                  <a href="https://angular.io" target="_blank">
                    Hot
                  </a>
                </fab-tag>
                <fab-tag color="#D9E9FF">
                  <button>
                    Remote
                  </button>
                </fab-tag>
                <fab-tag color="#E3FFD9">Full-time</fab-tag>
              </fab-tag-group>

              <fab-text al-h="right" aux flex mt=".5" size="md">2 hours ago</fab-text>
            </div>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div row>
            <div col="6">
              <fab-text semibold size="lg">
                <fab-text-part>Backend Developer</fab-text-part>
                <fab-text-part>
                  <fab-badge color="#FFECD9">Part-time</fab-badge>
                </fab-text-part>
                <fab-text-part>
                  <fab-badge color="#D9E9FF">Remote</fab-badge>
                </fab-text-part>
              </fab-text>
              <fab-text aux>Netflix</fab-text>
            </div>

            <div col="6">
              <fab-tag-group align-h="right">
                <fab-tag>
                  <a href="https://angular.io" target="_blank">
                    Angular
                  </a>
                </fab-tag>
                <fab-tag>
                  <button>
                    Engineering
                  </button>
                </fab-tag>
                <fab-tag>Node</fab-tag>
              </fab-tag-group>

              <fab-text al-h="right" aux flex mt=".5" size="md">2 hours ago</fab-text>
            </div>
          </div>
        </fab-list-item>
      </fab-list>
    </fab-card>

    <fab-card col="4">
      <fab-list padding [striped]="true">
        <fab-list-item>
          <div al-v="center" row>
            <fab-text col="6" semibold>List Item 1</fab-text>
            <fab-tag al-h="right" col="6" color="success" flex size="sm">Done</fab-tag>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div al-v="center" row>
            <fab-text col="6" semibold>List Item 2</fab-text>
            <fab-tag al-h="right" color="danger" col="6" flex size="sm">Error</fab-tag>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div al-v="center" row>
            <fab-text col="6" semibold>List Item 3</fab-text>
            <fab-tag al-h="right" color="hot" col="6" flex size="sm">Hot</fab-tag>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div al-v="center" row>
            <fab-text col="6" semibold>List Item 4</fab-text>
            <fab-tag al-h="right" color="warning" col="6" flex size="sm">Waiting</fab-tag>
          </div>
        </fab-list-item>
      </fab-list>
    </fab-card>

  </div>

  <div row>
    <fab-card col="8">
      <fab-list padding [striped]="true">
        <fab-list-item>
          <div row>
            <fab-text aux col="3" semibold>Full name</fab-text>
            <fab-text col="9">John Doe</fab-text>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div row>
            <fab-text aux col="3" semibold>Email address</fab-text>
            <fab-text col="9">johndoe@gmail.com</fab-text>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div al-v="center" row>
            <fab-text aux col="3" semibold>Attachments</fab-text>
            <fab-input col="9" glow placeholder="Add attachments"></fab-input>
          </div>
        </fab-list-item>
      </fab-list>
    </fab-card>
  </div>

</app-example-block>

<app-example-block title="Tabs">

  <app-example [block]="true" title="Active Color">
    <div flex>
      <fab-tabs id="tabs1">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-border-color="secondary" id="tabs2">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-border-color="#EA6FD7" id="tabs3">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Color">
    <div flex>
      <fab-tabs>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="primary">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-border-color="#87FF7E" color="dark">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Layout (horizontal)">
    <div flex>
      <fab-tabs>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="primary">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-border-color="#87FF7E" color="dark">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Invert Color">
    <div flex>
      <fab-tabs color="primary" invert>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-color="#87FF7E" color="dark" invert>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="hot" invert>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Stacked">
    <div flex>
      <fab-tabs>
        <fab-tab [active]="true" name="docs">Docs</fab-tab>
        <fab-tab name="components">Components</fab-tab>
        <fab-tab name="showcase">Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs col="3" stacked>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-border-color="#87FF7E" col="3" stacked>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Stacked (types)">
    <div flex>
      <fab-tabs col="3" stacked type="float">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs col="3" color="primary" stacked type="block">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-fill-color="#87FF7E" col="3" color="dark" stacked type="pill">
        <fab-tab [active]="true" name="docs">Docs</fab-tab>
        <fab-tab name="components">Components</fab-tab>
        <fab-tab name="showcase">Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Type (block)">
    <div flex>
      <fab-tabs type="block">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="primary" type="block">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="dark" type="block">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="aux" type="block">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Type (float)">
    <div flex>
      <fab-tabs type="float">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="primary" type="float">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="dark" type="float">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-fill-color="#FFA269" color="aux" type="float">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Type (pill)">
    <div flex>
      <fab-tabs type="pill">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="primary" type="pill">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="dark" type="pill">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-fill-color="#FFA269" color="aux" type="pill">
        <fab-tab [active]="true" name="docs">Docs</fab-tab>
        <fab-tab name="components">Components</fab-tab>
        <fab-tab name="showcase">Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Tab Content">
    <fab-tabs scope="tabs1">
      <fab-tab [active]="true" name="docs" target="#docsContent">Docs</fab-tab>
      <fab-tab name="components" target="#componentsContent">Components</fab-tab>
      <fab-tab name="showcase" target="#showcaseContent">Showcase</fab-tab>
    </fab-tabs>

    <fab-tab-content id="docsContent" p="1.5" scope="tabs1">
      Docs Content
    </fab-tab-content>
    <fab-tab-content id="componentsContent" p="1.5" scope="tabs1">
      Components Content
    </fab-tab-content>
    <fab-tab-content id="showcaseContent" p="1.5" scope="tabs1">
      Showcase Content
    </fab-tab-content>
  </app-example>

</app-example-block>
