<app-example-block title="Tabs" [visible]="false">

  <app-example [block]="true" title="Active Color">
    <div flex>
      <fab-tabs id="tabs1">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-border-color="secondary" id="tabs2">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-border-color="#EA6FD7" id="tabs3">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Color">
    <div flex>
      <fab-tabs>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="primary">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-border-color="#87FF7E" color="dark">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Layout (horizontal)">
    <div flex>
      <fab-tabs>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="primary">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-border-color="#87FF7E" color="dark">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Invert Color">
    <div flex>
      <fab-tabs color="primary" invert>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-color="#87FF7E" color="dark" invert>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="hot" invert>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Stacked">
    <div flex>
      <fab-tabs>
        <fab-tab [active]="true" name="docs">Docs</fab-tab>
        <fab-tab name="components">Components</fab-tab>
        <fab-tab name="showcase">Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs col="3" stacked>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-border-color="#87FF7E" col="3" stacked>
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Stacked (types)">
    <div flex>
      <fab-tabs col="3" stacked type="float">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs col="3" color="primary" stacked type="block">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-fill-color="#87FF7E" col="3" color="dark" stacked type="pill">
        <fab-tab [active]="true" name="docs">Docs</fab-tab>
        <fab-tab name="components">Components</fab-tab>
        <fab-tab name="showcase">Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Type (block)">
    <div flex>
      <fab-tabs type="block">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="primary" type="block">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="dark" type="block">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="aux" type="block">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Type (float)">
    <div flex>
      <fab-tabs type="float">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="primary" type="float">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="dark" type="float">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-fill-color="#FFA269" color="aux" type="float">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Type (pill)">
    <div flex>
      <fab-tabs type="pill">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="primary" type="pill">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs color="dark" type="pill">
        <fab-tab [active]="true">Docs</fab-tab>
        <fab-tab>Components</fab-tab>
        <fab-tab>Showcase</fab-tab>
      </fab-tabs>

      <fab-tabs active-fill-color="#FFA269" color="aux" type="pill">
        <fab-tab [active]="true" name="docs">Docs</fab-tab>
        <fab-tab name="components">Components</fab-tab>
        <fab-tab name="showcase">Showcase</fab-tab>
      </fab-tabs>
    </div>
  </app-example>

  <app-example [block]="true" title="Tab Content">
    <fab-tabs scope="tabs1">
      <fab-tab [active]="true" name="docs" target="#docsContent">Docs</fab-tab>
      <fab-tab name="components" target="#componentsContent">Components</fab-tab>
      <fab-tab name="showcase" target="#showcaseContent">Showcase</fab-tab>
    </fab-tabs>

    <fab-tab-content id="docsContent" p="1.5" scope="tabs1">
      Docs Content
    </fab-tab-content>
    <fab-tab-content id="componentsContent" p="1.5" scope="tabs1">
      Components Content
    </fab-tab-content>
    <fab-tab-content id="showcaseContent" p="1.5" scope="tabs1">
      Showcase Content
    </fab-tab-content>
  </app-example>

</app-example-block>