<div mb="1" row>
  <fab-alert col="4" [icon]="{color: 'danger', name: 'alert-triangle'}" text="Hey! Just a reminder that this is an alert!" title="Alert Title"></fab-alert>
  <fab-alert col="4" [icon]="{color: 'warning', name: 'alert-circle'}" text="Hey! Just a reminder that this is an alert!" title="Alert Title"></fab-alert>
  <fab-alert col="4" [icon]="{color: 'success', name: 'check'}" text="Hey! Just a reminder that this is an alert!" title="Alert Title"></fab-alert>
</div>

<div row>
  <fab-alert col="4" [icon]="{ color: 'danger', name: 'alert-triangle' }" [text]="{ aux: true, content: 'Hey! Just a reminder that this is an alert!' }" [title]="{ color: 'inherit', content: 'Alert Title', mb: 8, size: 'lg', weight: 700 }"></fab-alert>
  <fab-alert col="4" color="primary" [icon]="{ name: 'alert-triangle' }" [text]="{ aux: true, color: 'inherit', content: 'Hey! Just a reminder that this is an alert!' }" [title]="{ color: 'inherit', content: 'Alert Title', mb: 8, size: 'lg', weight: 700 }"></fab-alert>
  <fab-alert col="4" color="dark" [icon]="{ color: 'success', name: 'download-cloud' }" [text]="{ aux: true, color: 'inherit', content: 'Hey! Just a reminder that this is an alert!', size: 'sm' }" [title]="{ color: 'inherit', content: 'Alert Title', mb: 8, size: 'lg', weight: 700 }"></fab-alert>
</div>