<div mb="1" row>
  <fab-alert col="4" text="Hey! Just a reminder that this is an alert!" title="Alert Title"></fab-alert>
  <fab-alert col="4" text="Hey! Just a reminder that this is an alert!" title="Alert Title"></fab-alert>
  <fab-alert col="4" text="Hey! Just a reminder that this is an alert!" title="Alert Title"></fab-alert>
</div>

<div row>
  <fab-alert col="6" marker="primary" text="Hey! Just a reminder that this is an alert!" title="Alert Title">
  </fab-alert>
  <fab-alert col="6">
    <div al-v="center" flex>
      <fab-text grow="1" medium size="sm">Hey! This is a custom content for alert!</fab-text>
      <fab-button color="primary" [compact]="true" size="xs">Close</fab-button>
    </div>
  </fab-alert>
</div>