<app-example-block title="List" [visible]="false">
  <div mb="1.5" row>
    <fab-card col="8" px="1">
      <fab-list>
        <fab-list-item>
          <div row>
            <div col="6">
              <fab-text semibold size="lg">
                <fab-text-part>Full-stack Engineer</fab-text-part>
                <fab-text-part>
                  <fab-badge color="#E3FFD9">Full-time</fab-badge>
                </fab-text-part>
              </fab-text>
              <fab-text aux>Google</fab-text>
            </div>

            <div col="6">
              <fab-tag-group align-h="right">
                <fab-tag>
                  <a href="https://angular.io" target="_blank">
                    Angular
                  </a>
                </fab-tag>
                <fab-tag>
                  <button>
                    Engineering
                  </button>
                </fab-tag>
                <fab-tag>Node</fab-tag>
              </fab-tag-group>

              <fab-text al-h="right" aux flex mt=".5" size="md">2 hours ago</fab-text>
            </div>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div row>
            <div col="6">
              <fab-text semibold size="lg">
                <fab-text-part>Frontend Developer</fab-text-part>
                <fab-text-part>
                  <fab-badge color="#FFECD9">Part-time</fab-badge>
                </fab-text-part>
                <fab-text-part>
                  <fab-badge color="#F8F8F8">Live</fab-badge>
                </fab-text-part>
              </fab-text>
              <fab-text aux>Amazon</fab-text>
            </div>

            <div col="6">
              <fab-tag-group align-h="right">
                <fab-tag color="hot">
                  <a href="https://angular.io" target="_blank">
                    Hot
                  </a>
                </fab-tag>
                <fab-tag color="#D9E9FF">
                  <button>
                    Remote
                  </button>
                </fab-tag>
                <fab-tag color="#E3FFD9">Full-time</fab-tag>
              </fab-tag-group>

              <fab-text al-h="right" aux flex mt=".5" size="md">2 hours ago</fab-text>
            </div>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div row>
            <div col="6">
              <fab-text semibold size="lg">
                <fab-text-part>Backend Developer</fab-text-part>
                <fab-text-part>
                  <fab-badge color="#FFECD9">Part-time</fab-badge>
                </fab-text-part>
                <fab-text-part>
                  <fab-badge color="#D9E9FF">Remote</fab-badge>
                </fab-text-part>
              </fab-text>
              <fab-text aux>Netflix</fab-text>
            </div>

            <div col="6">
              <fab-tag-group align-h="right">
                <fab-tag>
                  <a href="https://angular.io" target="_blank">
                    Angular
                  </a>
                </fab-tag>
                <fab-tag>
                  <button>
                    Engineering
                  </button>
                </fab-tag>
                <fab-tag>Node</fab-tag>
              </fab-tag-group>

              <fab-text al-h="right" aux flex mt=".5" size="md">2 hours ago</fab-text>
            </div>
          </div>
        </fab-list-item>
      </fab-list>
    </fab-card>

    <fab-card col="4">
      <fab-list padding [striped]="true">
        <fab-list-item>
          <div al-v="center" row>
            <fab-text col="6" semibold>List Item 1</fab-text>
            <fab-tag al-h="right" col="6" color="success" flex size="sm">Done</fab-tag>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div al-v="center" row>
            <fab-text col="6" semibold>List Item 2</fab-text>
            <fab-tag al-h="right" color="danger" col="6" flex size="sm">Error</fab-tag>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div al-v="center" row>
            <fab-text col="6" semibold>List Item 3</fab-text>
            <fab-tag al-h="right" color="hot" col="6" flex size="sm">Hot</fab-tag>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div al-v="center" row>
            <fab-text col="6" semibold>List Item 4</fab-text>
            <fab-tag al-h="right" color="warning" col="6" flex size="sm">Waiting</fab-tag>
          </div>
        </fab-list-item>
      </fab-list>
    </fab-card>

  </div>

  <div row>
    <fab-card col="8">
      <fab-list padding [striped]="true">
        <fab-list-item>
          <div row>
            <fab-text aux col="3" semibold>Full name</fab-text>
            <fab-text col="9">John Doe</fab-text>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div row>
            <fab-text aux col="3" semibold>Email address</fab-text>
            <fab-text col="9">johndoe@gmail.com</fab-text>
          </div>
        </fab-list-item>

        <fab-list-item>
          <div al-v="center" row>
            <fab-text aux col="3" semibold>Attachments</fab-text>
            <fab-input col="9" glow placeholder="Add attachments"></fab-input>
          </div>
        </fab-list-item>
      </fab-list>
    </fab-card>
  </div>

</app-example-block>