<fab-wrapper [flex]="true">
  <fab-wrapper>
      <fab-button-group [flex]="true" mb="1">
          <fab-button>Button</fab-button>
          <fab-button>Button</fab-button>
          <fab-button>Button</fab-button>
      </fab-button-group>
      <fab-button-group color="primary" [flex]="true" mr="1">
          <fab-button color="primary">Button</fab-button>
          <fab-button color="primary">Button</fab-button>
          <fab-button color="primary">Button</fab-button>
      </fab-button-group>
  </fab-wrapper>

  <fab-wrapper>
      <fab-button-group layout="v" mr="1">
          <fab-button>Button</fab-button>
          <fab-button>Button</fab-button>
          <fab-button>Button</fab-button>
      </fab-button-group>

      <fab-button-group color="primary" layout="v">
          <fab-button color="primary">Button</fab-button>
          <fab-button color="primary">Button</fab-button>
          <fab-button color="primary">Button</fab-button>
      </fab-button-group>
  </fab-wrapper>
</fab-wrapper>