<app-example-block title="Input" [visible]="false">

  <app-example title="Color">
    <fab-input placeholder="Default"></fab-input>
    <fab-input placeholder="Primary" color="primary"></fab-input>
    <fab-input placeholder="Secondary" color="secondary"></fab-input>
    <fab-input placeholder="Success" color="success"></fab-input>
    <fab-input placeholder="Danger" color="danger"></fab-input>
    <fab-input placeholder="Warning" color="warning"></fab-input>
    <fab-input placeholder="Hot" color="hot"></fab-input>
    <fab-input placeholder="Cold" color="cold"></fab-input>
    <fab-input placeholder="Dark" color="dark"></fab-input>
    <fab-input placeholder="Light" color="light"></fab-input>
    <fab-input placeholder="Aux" color="aux"></fab-input>
  </app-example>

  <app-example title="Disabled">
    <fab-input placeholder="Default" [disabled]="true"></fab-input>
    <fab-input placeholder="Primary" color="primary" [disabled]="true"></fab-input>
    <fab-input placeholder="Secondary" color="secondary" [disabled]="true"></fab-input>
    <fab-input placeholder="Success" color="success" [disabled]="true"></fab-input>
    <fab-input placeholder="Danger" color="danger" [disabled]="true"></fab-input>
    <fab-input placeholder="Warning" color="warning" [disabled]="true"></fab-input>
    <fab-input placeholder="Hot" color="hot" [disabled]="true"></fab-input>
    <fab-input placeholder="Cold" color="cold" [disabled]="true"></fab-input>
    <fab-input placeholder="Dark" color="dark" [disabled]="true"></fab-input>
    <fab-input placeholder="Light" color="light" [disabled]="true"></fab-input>
    <fab-input placeholder="Aux" color="aux" [disabled]="true"></fab-input>
  </app-example>

  <app-example title="Expand">
    <fab-input placeholder="Normal"></fab-input>
    <fab-input placeholder="Expand" [expand]="true"></fab-input>
  </app-example>

  <app-example title="Has">
    <fab-input placeholder="Has: Error" has="error"></fab-input>
    <fab-input placeholder="Has: Success" has="success"></fab-input>
    <fab-input placeholder="Has: Warning" has="warning"></fab-input>
  </app-example>

  <app-example title="Has (message)">
    <fab-input placeholder="Has: Error" has="error" message="This field has: error"></fab-input>
    <fab-input placeholder="Has: Success" has="success" message="This field has: success"></fab-input>
    <fab-input placeholder="Has: Warning" has="warning" message="This field has: warning"></fab-input>
  </app-example>

  <app-example title="Message">
    <fab-input placeholder="Message default" message="This is a message"></fab-input>
    <fab-input placeholder="Message primary" message-color="primary" message="This is a message"></fab-input>
    <fab-input placeholder="Message secondary" message-color="secondary" message="This is a message"></fab-input>
    <fab-input placeholder="Message success" message-color="success" message="This is a message"></fab-input>
    <fab-input placeholder="Message danger" message-color="danger" message="This is a message"></fab-input>
    <fab-input placeholder="Message warning" message-color="warning" message="This is a message"></fab-input>
    <fab-input placeholder="Message hot" message-color="hot" message="This is a message"></fab-input>
    <fab-input placeholder="Message cold" message-color="cold" message="This is a message"></fab-input>
    <fab-input placeholder="Message dark" message-color="dark" message="This is a message"></fab-input>
    <fab-input placeholder="Message light" message-color="light" message="This is a message"></fab-input>
    <fab-input placeholder="Message aux" message-color="aux" message="This is a message"></fab-input>
  </app-example>

  <app-example title="Size">
    <fab-input placeholder="XXL" size="xxl"></fab-input>
    <fab-input placeholder="XL" size="xl"></fab-input>
    <fab-input placeholder="LG" size="lg"></fab-input>
    <fab-input placeholder="MD"></fab-input>
    <fab-input placeholder="SM" size="sm"></fab-input>
    <fab-input placeholder="XS" size="xs"></fab-input>
  </app-example>

</app-example-block>