<app-example-block title="Segments">

  <app-example [block]="true" title="Active Color">
    <div flex>
      <fab-segments>
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>

      <fab-segments active-fill-color="primary">
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>

      <fab-segments active-fill-color="dark" active-text-color="success">
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>
    </div>
  </app-example>

  <app-example [block]="true" title="Color">
    <div flex>
      <fab-segments>
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>

      <fab-segments color="primary">
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>

      <fab-segments color="secondary">
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>

      <fab-segments color="aux">
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>
    </div>
  </app-example>

  <app-example [block]="true" title="Faded">
    <div flex>
      <fab-segments faded>
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment faded name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>

      <fab-segments color="primary" faded>
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>

      <fab-segments color="secondary" faded>
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>

      <fab-segments color="aux" faded>
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>
    </div>
  </app-example>

  <app-example [block]="true" title="Rounded">
    <div flex>
      <fab-segments rounded>
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>

      <fab-segments color="primary" rounded>
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>

      <fab-segments color="secondary" rounded>
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>

      <fab-segments color="aux" rounded>
        <fab-segment [active]="true" name="docs">Docs</fab-segment>
        <fab-segment name="components">Components</fab-segment>
        <fab-segment name="showcase">Showcase</fab-segment>
      </fab-segments>
    </div>
  </app-example>

</app-example-block>
