<app-example-block title="Avatar" [visible]="false">
  <app-example title="Color">
    <fab-avatar></fab-avatar>
    <fab-avatar color="primary"></fab-avatar>
    <fab-avatar color="secondary"></fab-avatar>
    <fab-avatar color="success"></fab-avatar>
    <fab-avatar color="danger"></fab-avatar>
    <fab-avatar color="warning"></fab-avatar>
    <fab-avatar color="hot"></fab-avatar>
    <fab-avatar color="cold"></fab-avatar>
    <fab-avatar color="dark"></fab-avatar>
    <fab-avatar color="light"></fab-avatar>
    <fab-avatar color="aux"></fab-avatar>
  </app-example>

  <app-example title="Rounded">
    <fab-avatar color="primary"></fab-avatar>
    <fab-avatar color="primary" [rounded]="true"></fab-avatar>
  </app-example>

  <app-example title="Show Initials">
    <fab-avatar show-initials="A B"></fab-avatar>
    <fab-avatar color="primary" show-initials="C D"></fab-avatar>
    <fab-avatar color="secondary" show-initials="E F"></fab-avatar>
    <fab-avatar color="success" show-initials="G H"></fab-avatar>
    <fab-avatar color="danger" show-initials="I J"></fab-avatar>
    <fab-avatar color="warning" show-initials="K L"></fab-avatar>
    <fab-avatar color="hot" show-initials="M N"></fab-avatar>
    <fab-avatar color="cold" show-initials="O P"></fab-avatar>
    <fab-avatar color="dark" show-initials="Q R"></fab-avatar>
    <fab-avatar color="light" show-initials="S T"></fab-avatar>
    <fab-avatar color="aux" show-initials="U V"></fab-avatar>
  </app-example>

  <app-example title="Show Initials (rounded)">
    <fab-avatar show-initials="A B"></fab-avatar>
    <fab-avatar color="primary" [rounded]="true" show-initials="C D"></fab-avatar>
    <fab-avatar color="secondary" [rounded]="true" show-initials="E F"></fab-avatar>
    <fab-avatar color="success" [rounded]="true" show-initials="G H"></fab-avatar>
    <fab-avatar color="danger" [rounded]="true" show-initials="I J"></fab-avatar>
    <fab-avatar color="warning" [rounded]="true" show-initials="K L"></fab-avatar>
    <fab-avatar color="hot" [rounded]="true" show-initials="M N"></fab-avatar>
    <fab-avatar color="cold" [rounded]="true" show-initials="O P"></fab-avatar>
    <fab-avatar color="dark" [rounded]="true" show-initials="Q R"></fab-avatar>
    <fab-avatar color="light" [rounded]="true" show-initials="S T"></fab-avatar>
    <fab-avatar color="aux" [rounded]="true" show-initials="U V"></fab-avatar>
  </app-example>

  <app-example title="Size">
    <fab-avatar show-initials="XL" size="xl"></fab-avatar>
    <fab-avatar show-initials="LG" size="lg"></fab-avatar>
    <fab-avatar show-initials="MD" size="md"></fab-avatar>
    <fab-avatar show-initials="SM" size="sm"></fab-avatar>
    <fab-avatar show-initials="XS" size="xs"></fab-avatar>
  </app-example>
</app-example-block>