<app-example-block title="Input group" [visible]="false">
  <app-example title="Examples">
    <fab-input-group>
      <fab-input message="Message example" placeholder="Type something"></fab-input>
      <fab-button color="primary" [compact]="true">Button</fab-button>
    </fab-input-group>

    <fab-input-group [glued]="true">
      <fab-button [border]="true" color="light" [compact]="true">Button</fab-button>
      <fab-input placeholder="Type something"></fab-input>
      <fab-button [border]="true" color="aux" [compact]="true">Button</fab-button>
    </fab-input-group>
  </app-example>

  <app-example title="Flow (horizontal)">
    <fab-input-group flow="horizontal">
      <fab-input placeholder="Type something"></fab-input>
      <fab-button color="primary" [compact]="true">Button</fab-button>
    </fab-input-group>
  </app-example>

  <app-example title="Flow (vertical)">
    <fab-input-group flow="vertical">
      <fab-input placeholder="Type something"></fab-input>
      <fab-button color="primary">Button</fab-button>
    </fab-input-group>

    <fab-input-group flow="vertical" [glued]="true">
      <fab-input placeholder="Type something"></fab-input>
      <fab-button color="primary">Button</fab-button>
    </fab-input-group>
  </app-example>

  <app-example title="Glued">
    <fab-input-group [glued]="true">
      <fab-input placeholder="Type something"></fab-input>
      <fab-button color="primary" [compact]="true">Button</fab-button>
    </fab-input-group>

    <fab-input-group [glued]="true">
      <fab-button [border]="true" color="light" [compact]="true">Button</fab-button>
      <fab-input placeholder="Input Group (glued)"></fab-input>
      <fab-button [border]="true" color="aux" [compact]="true">Button</fab-button>
    </fab-input-group>
  </app-example>

  <app-example title="Spacing (default)">
    <fab-input-group>
      <fab-input placeholder="Type something"></fab-input>
      <fab-button color="primary" [compact]="true">Button</fab-button>
    </fab-input-group>

    <fab-input-group>
      <fab-button [border]="true" color="light" [compact]="true">Button</fab-button>
      <fab-input placeholder="Input Group (glued)"></fab-input>
      <fab-button [border]="true" color="aux" [compact]="true">Button</fab-button>
    </fab-input-group>
  </app-example>

  <app-example title="Spacing (custom)">
    <fab-input-group spacing="1rem">
      <fab-input placeholder="Type something"></fab-input>
      <fab-button color="primary" [compact]="true">Button</fab-button>
    </fab-input-group>

    <fab-input-group spacing="1rem">
      <fab-button [border]="true" color="light" [compact]="true">Button</fab-button>
      <fab-input placeholder="Input Group (glued)"></fab-input>
      <fab-button [border]="true" color="aux" [compact]="true">Button</fab-button>
    </fab-input-group>
  </app-example>
</app-example-block>