<div mb="1" row>
    <fab-tabs alH="center" flex layout="horizontal" col="4">
        <fab-tab [active]="true" name="docs">
            <fab-icon name="file-text"></fab-icon>
            <span>Docs</span>
        </fab-tab>
        <fab-tab name="components">
            <fab-icon name="tool"></fab-icon>
            <span>Components</span>
        </fab-tab>
        <fab-tab name="showcase">
            <fab-icon name="camera"></fab-icon>
            <span>Showcase</span>
        </fab-tab>
    </fab-tabs>

    <fab-tabs alH="center" flex layout="vertical" col="4">
        <fab-tab [active]="true" name="docs">
            <fab-icon name="file-text"></fab-icon>
            <span>Docs</span>
        </fab-tab>
        <fab-tab name="components">
            <fab-icon name="tool"></fab-icon>
            <span>Components</span>
        </fab-tab>
        <fab-tab name="showcase">
            <fab-icon name="camera"></fab-icon>
            <span>Showcase</span>
        </fab-tab>
    </fab-tabs>
</div>