<fab-modal [color]="color" [size]="size" *ngIf="init">
    <fab-modal-header divider="bottom">
        <fab-text block [color]="!!color && 'inherit'" size="lg" weight="700">Deactivate Account</fab-text>
        <fab-text aux [color]="!!color && 'inherit'" size="sm">Modal Subtitle</fab-text>
    </fab-modal-header>
    <fab-modal-body>
        <fab-text block [color]="!!color && 'inherit'" mb=".25">
            Are you sure you want to deactivate your account?
        </fab-text>
        <fab-text block [color]="!!color && 'inherit'" mb="1">All of your data will be permanently removed.</fab-text>
    </fab-modal-body>
    <fab-modal-footer alH="end" [adaptColor]="!!color" [color]="color || 'light'" flex>
        <fab-button-group>
            <fab-button [border]="!color" [color]="color" [glow]="true" (click)="closeModal()" [lighten]="true">Cancel
            </fab-button>
            <fab-button [border]="true" [color]="!color ? 'danger' : color" [glow]="true" [invert]="!!color"
                (click)="closeModal()">Deactivate</fab-button>
        </fab-button-group>
    </fab-modal-footer>
</fab-modal>