<div row>
  <fab-card col="3">
    <fab-card-image height="200"></fab-card-image>
    <fab-card-section divider="top" [padding]="true">
      <fab-text size="lg" strong>
        <strong mr=".5">Card Title</strong>
        <fab-badge color="primary">New</fab-badge>
      </fab-text>
      <fab-text aux flex mb="1" size="sm" span>Card subtitle</fab-text>
      <fab-text block mb="1">This is some text inside this card. You can add whatever content in here.</fab-text>
    </fab-card-section>
    <fab-card-section divider="top" [padding]="true">
      <fab-button color="primary" [expand]="true">Card Button</fab-button>
    </fab-card-section>
  </fab-card>

  <div col="9">
    <fab-card layout="h" mb="1">
      <fab-card-image width="200"></fab-card-image>
      <fab-card-section [expand]="true" [padding]="true">
        <fab-text size="lg" strong>
          <strong mr=".5">Card Title</strong>
          <fab-badge color="primary">New</fab-badge>
        </fab-text>
        <fab-text aux flex mb="1" size="sm" span>Card subtitle</fab-text>
        <fab-text block>This is some text inside this card. You can add whatever content in here.</fab-text>
      </fab-card-section>
      <fab-card-section [padding]="true">
        <fab-button color="primary" [expand]="true">Card Button</fab-button>
      </fab-card-section>
    </fab-card>

    <fab-card layout="h" mb="1">
      <fab-card-image height="300" width="200"></fab-card-image>
      <fab-card-section [expand]="true">
        <fab-card-section [expand]="true" [padding]="true">
          <fab-text size="lg" strong>
            <strong mr=".5">Card Title</strong>
            <fab-badge color="primary">New</fab-badge>
          </fab-text>
          <fab-text aux flex mb="1" size="sm" span>Card subtitle</fab-text>
          <fab-text block mb="1">This is some text inside this card. You can add whatever content in here.</fab-text>
        </fab-card-section>
        <fab-card-section divider="top" [padding]="true">
          <fab-button color="primary" [expand]="true">Card Button</fab-button>
        </fab-card-section>
      </fab-card-section>
    </fab-card>

    <fab-card layout="h">
      <fab-card-section grow="1" [padding]="true">
        <fab-text size="lg" strong>
          <strong mr=".5">Card Title</strong>
          <fab-badge color="primary">New</fab-badge>
        </fab-text>
        <fab-text aux flex mb="1" size="sm" span>Card subtitle</fab-text>
        <fab-text block>This is some text inside this card. You can add whatever content in here.</fab-text>
      </fab-card-section>
      <fab-card-section [padding]="true">
        <fab-button color="primary" [expand]="true">Card Button</fab-button>
      </fab-card-section>
      <fab-card-image></fab-card-image>
    </fab-card>
  </div>
</div>
