<app-example-block title="Card" [visible]="false">

  <app-example [block]="true" title="Examples">
    <div row>

      <fab-card col="3">
        <fab-card-image height="200" src="http://placehold.it/400x150"></fab-card-image>
        <fab-card-body padding>
          <fab-text block bold size="lg">Card Title</fab-text>
          <fab-text aux block mb="1" size="sm">Card Subtitle</fab-text>
          <fab-text block mb=".5">
            This is some text inside this card.<br>
            You can add whatever content in
            here.
          </fab-text>
        </fab-card-body>
        <fab-card-section padding>
          <fab-button color="primary" [expand]="true">Button</fab-button>
        </fab-card-section>
      </fab-card>


      <fab-card col="9">
        <fab-card-image height="200" src="http://placehold.it/1200x300"></fab-card-image>
        <fab-card-body>
          <div p="1">
            <fab-text block bold size="xxl">Card Title</fab-text>
            <fab-text aux block>Card Subtitle</fab-text>
          </div>

          <fab-list padding [striped]="true">
            <fab-list-item>
              <div row>
                <fab-text aux col="3" medium>Full name</fab-text>
                <fab-text col="9">John Doe</fab-text>
              </div>
            </fab-list-item>

            <fab-list-item>
              <div row>
                <fab-text aux medium col="3">Email address</fab-text>
                <fab-text col="9">johndoe@gmail.com</fab-text>
              </div>
            </fab-list-item>

            <fab-list-item>
              <div row>
                <fab-text aux col="3" medium>Attachments</fab-text>
                <fab-input col="9" placeholder="Add attachments"></fab-input>
              </div>
            </fab-list-item>
          </fab-list>
        </fab-card-body>

        <fab-card-section padding>
          <fab-button-group align-h="right" flex>
            <fab-button color="primary" [wide]="true">Confirm</fab-button>
            <fab-button color="light" [wide]="true">Cancel</fab-button>
          </fab-button-group>
        </fab-card-section>
      </fab-card>
    </div>

  </app-example>

  <app-example [block]="true" title="Color">

    <div row>

      <fab-card col="3">
        <fab-card-image height="200" src="http://placehold.it/400x150"></fab-card-image>
        <fab-card-body p="1">
          <fab-text bold size="lg">Card Title</fab-text>
          <fab-text aux mb="1">Card subtitle</fab-text>
          <fab-button color="primary" [expand]="true">Button</fab-button>
        </fab-card-body>
      </fab-card>

      <fab-card color="primary" col="3">
        <fab-card-image height="200" src="http://placehold.it/400x150"></fab-card-image>
        <fab-card-body p="1">
          <fab-text bold color="inherit" size="lg">Card Title</fab-text>
          <fab-text aux color="inherit" mb="1">Card subtitle</fab-text>
          <fab-button color="primary" [expand]="true" [invert]="true">Button</fab-button>
        </fab-card-body>
      </fab-card>

      <fab-card color="secondary" col="3">
        <fab-card-image height="200" src="http://placehold.it/400x150"></fab-card-image>
        <fab-card-body p="1">
          <fab-text bold color="inherit" size="lg">Card Title</fab-text>
          <fab-text aux color="inherit" mb="1">Card subtitle</fab-text>
          <fab-button color="secondary" [expand]="true" [invert]="true">Button</fab-button>
        </fab-card-body>
      </fab-card>

      <fab-card color="cold" col="3">
        <fab-card-image height="200" src="http://placehold.it/400x150"></fab-card-image>
        <fab-card-body p="1">
          <fab-text bold color="inherit" size="lg">Card Title</fab-text>
          <fab-text aux color="inherit" mb="1">Card subtitle</fab-text>
          <fab-button color="cold" [expand]="true" [invert]="true">Button</fab-button>
        </fab-card-body>
      </fab-card>

    </div>

  </app-example>

  <app-example [block]="true" title="Glow">

    <div row>

      <fab-card col="3">
        <fab-card-image cover src="http://placehold.it/400x100"></fab-card-image>
        <fab-card-section padding>
          <fab-text bold size="lg">Card Title</fab-text>
          <fab-text aux>Card subtitle</fab-text>
        </fab-card-section>
        <fab-card-section color="light" padding>
          <fab-button color="primary" [expand]="true">Button</fab-button>
        </fab-card-section>
      </fab-card>

      <fab-card col="3" [glow]="false">
        <fab-card-body padding>
          <fab-text bold size="lg">
            <fab-text-part>Card Title</fab-text-part>

            <fab-text-part>
              <fab-badge color="primary">New</fab-badge>
            </fab-text-part>

          </fab-text>
          <fab-text aux mb="1">Card subtitle</fab-text>
          <fab-button color="primary" [expand]="true">Button</fab-button>
        </fab-card-body>
      </fab-card>

    </div>

  </app-example>

</app-example-block>