<fab-input-group mb="1">
    <fab-input [iconStart]="{ color: 'primary', name: 'battery-charging' }" placeholder="Type something..."></fab-input>
    <fab-button color="primary">
        <fab-text color="inherit" [inline]="true" mr=".5" weight="600">Button</fab-text>
        <fab-icon name="arrow-right"></fab-icon>
    </fab-button>
</fab-input-group>

<fab-input-group layout="v">
    <fab-input [iconStart]="{ color: 'primary', name: 'battery-charging' }" placeholder="Type something..."></fab-input>
    <fab-button [border]="true">
        <fab-text color="inherit" [inline]="true" mr=".5" weight="600">Button</fab-text>
        <fab-icon name="arrow-right"></fab-icon>
    </fab-button>
</fab-input-group>