<app-example-block title="Button Group" [visible]="false">
  <app-example title="Glued (clear)">
    <fab-button-group [glued]="true">
      <fab-button [clear]="true">Button 1</fab-button>
      <fab-button color="primary" [clear]="true">Button 1</fab-button>
      <fab-button color="secondary" [clear]="true">Button 1</fab-button>
      <fab-button color="hot" [clear]="true">Button 1</fab-button>
      <fab-button color="cold" [clear]="true">Button 1</fab-button>
      <fab-button color="dark" [clear]="true">Button 2</fab-button>
      <fab-button color="aux" [clear]="true">Button 2</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Glued (color)">
    <fab-button-group [glued]="true">
      <fab-button>Button 1</fab-button>
      <fab-button color="primary">Button 1</fab-button>
      <fab-button color="secondary">Button 1</fab-button>
      <fab-button color="hot">Button 1</fab-button>
      <fab-button color="cold">Button 1</fab-button>
      <fab-button color="dark">Button 2</fab-button>
      <fab-button color="aux">Button 2</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Glued (faded)">
    <fab-button-group [glued]="true">
      <fab-button [faded]="true">Button 1</fab-button>
      <fab-button color="primary" [faded]="true">Button 1</fab-button>
      <fab-button color="secondary" [faded]="true">Button 1</fab-button>
      <fab-button color="hot" [faded]="true">Button 1</fab-button>
      <fab-button color="cold" [faded]="true">Button 1</fab-button>
      <fab-button color="dark" [faded]="true">Button 2</fab-button>
      <fab-button color="aux" [faded]="true">Button 2</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Glued (gradient)">
    <fab-button-group [glued]="true">
      <fab-button [gradient]="true">Button 1</fab-button>
      <fab-button color="primary" [gradient]="true">Button 1</fab-button>
      <fab-button color="secondary" [gradient]="true">Button 1</fab-button>
      <fab-button color="hot" [gradient]="true">Button 1</fab-button>
      <fab-button color="cold" [gradient]="true">Button 1</fab-button>
      <fab-button color="dark" [gradient]="true">Button 2</fab-button>
      <fab-button color="aux" [gradient]="true">Button 2</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Glued (invert)">
    <fab-button-group [glued]="true">
      <fab-button [invert]="true">Button 1</fab-button>
      <fab-button color="primary" [invert]="true">Button 1</fab-button>
      <fab-button color="secondary" [invert]="true">Button 1</fab-button>
      <fab-button color="hot" [invert]="true">Button 1</fab-button>
      <fab-button color="cold" [invert]="true">Button 1</fab-button>
      <fab-button color="dark" [invert]="true">Button 2</fab-button>
      <fab-button color="aux" [invert]="true">Button 2</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Glued (outline)">
    <fab-button-group [glued]="true">
      <fab-button [outline]="true">Button 1</fab-button>
      <fab-button color="primary" [outline]="true">Button 1</fab-button>
      <fab-button color="secondary" [outline]="true">Button 1</fab-button>
      <fab-button color="hot" [outline]="true">Button 1</fab-button>
      <fab-button color="cold" [outline]="true">Button 1</fab-button>
      <fab-button color="dark" [outline]="true">Button 2</fab-button>
      <fab-button color="aux" [outline]="true">Button 2</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Spacing (default)">
    <fab-button-group>
      <fab-button color="primary">Button 1</fab-button>
      <fab-button color="primary">Button 2</fab-button>
      <fab-button color="primary">Button 3</fab-button>
    </fab-button-group>
  </app-example>

  <app-example title="Spacing (custom)">
    <fab-button-group spacing="2rem">
      <fab-button color="primary">Button 1</fab-button>
      <fab-button color="primary">Button 2</fab-button>
      <fab-button color="primary">Button 3</fab-button>
    </fab-button-group>
  </app-example>
</app-example-block>